.modal.fade{id: dom_id(@event, :modal), "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title= @event.name
      .modal-body
        .form.form-group
          = simple_form_for :item, url:  admin_items_path(event_id: @event.id, format: :js), method: :post do |f|
            = f.input :amount, required: true, :placeholder => "Amount", label: false, class: 'form-control'
            = f.input :event_id, as: :hidden, input_html: { value: @event.id }
            - if @payment.present?
              = f.input :payment_id, as: :hidden, input_html: { value: @payment.id }
            .input-group-btn.text-center
              = f.submit 'Pay', name: false, class: "btn btn-success"
              =link_to "Close", "#", "data-dismiss" => "modal", class: "btn btn-default"