%table.body-wrap{ bgcolor: "#f7f9fa"}
  %tbody
    %tr
      %td
      %td.container{ bgcolor: "#FFFFFF"}
        .content
          %table
            %tbody
              %tr
                %td
                  %strong= "Dear #{@participant.full_name}"
                  - if @event.paid?
                    %p= "#{@event.name} celebration is coming. Don't forget to pay the bill #{@participant.rate.amount}"
                  - else
                    %p We are happy to inform you about new event.
