%h3= "Hi #{@invitation.email}" 
%p= "If you don't accept the invitation, it'll be delete after 12 hours. Follow the link to register on RubyRoidFinance"
%p= link_to "register", "http://rubyroid-finance.herokuapp.com/users/sign_up/#{@invitation.invited_code}"