%table.body-wrap{ bgcolor: "#f7f9fa"}
  %tbody
    %tr
      %td
      %td.container{ bgcolor: "#FFFFFF"}
        .content
          %table
            %tbody
              %tr
                %td
                  %strong= "Dear #{@participant.full_name}"
                  %p= "Here list of participants who forgot to pay the bill for #{@event.name} celebration. You should kick each of them."
                  %table.table
                    %thead
                      %tr
                        %th Full name
                        %th Bill
                        %th 
                    %tbody
                      - @event.payments.each do |payment|
                        - if payment.balance_to_pay_per_user && payment.balance_to_pay_per_user > 0
                          %tr
                            %td= payment.participant.full_name
                            %td= payment.balance_to_pay_per_user
                            %td Shame on you!
