.row
  .login-container
    .col-md-12
      .text-center.m-b-md
        %h3 PLEASE LOGIN TO APP
      .hpanel
        .panel-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            #loginForm.form
              .form-group
                = f.input :email, required: false, autofocus: true
                = f.input :password, required: false
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
              = f.button :submit, "Log in", class: "btn btn-success btn-block"
              = render "users/shared/links"
