.row.bar-margin
  .col-lg-12
    %ul.nav.nav-tabs
      %li{ :class => "#{'active' if current_page?(admin_root_path)}" }
        = link_to 'Dashboard', admin_root_path
      %li{ :class => "#{'active' if current_page?(admin_users_path)}" }
        = link_to 'Users', admin_users_path
      %li{ :class => "#{'active' if current_page?(admin_invitations_path)}" }
        = link_to 'Invitations', admin_invitations_path
      %li{ :class => "#{'active' if current_page?(admin_events_path)}" }
        = link_to 'Events', admin_events_path
      =link_to "New event", new_event_path, class: "btn btn-primary pull-right"
      = render file: '/admin/invitations/new'