.hpanel.col-lg-6.col-lg-offset-3
  .panel-body
    .form.form-group
      = simple_form_for @event, method: method do |f|
        = f.input :name, required: true, placeholder: "Name", class: 'form-control'
        = f.input :description, required: true, placeholder: "Few words about @event"
        .hr-line-dashed
        = f.input :paid_type, as: :radio_buttons, collection: ['free', 'paid'], item_wrapper_class: 'radio-inline', label_html: { class: "radio-inline"}
        %div#disabled_for_free
          = f.input :calculate_amount, label_html: { class: "pull-right"}
          = f.simple_fields_for :budget, @event.budget || @event.build_budget do |ff|
            = ff.input :amount, required: true, disabled: @event.calculate_amount?
          .hr-line-dashed
        = f.association :celebrators, label_method: :full_name, value_method: :id, include_blank: false
        .hr-line-dashed
        = f.input :date, label: false, wrapper: :datepicker do 
          %span.input-group-addon
            %i.glyphicon.glyphicon-calendar
          = f.input_field :date, as: :string, class: 'form-control input-datepicker'
        .hr-line-dashed
        = f.input :add_all_users, label_html: { class: "pull-right"}
        = f.association :participants, label_method: :full_name, value_method: :id, include_blank: false, disabled: @event.add_all_users?
        = f.button :submit, 'Save', class: "btn-primary"
        =link_to 'Back', :back, class: "btn btn-default pull-right"