.hpanel.stats#payments-progress
  .panel-body.h-200
    .stats-title.pull-left
      %h4 Payments activity
    .stats-icon.pull-right
      %i.glyphicon.glyphicon-piggy-bank.gi-3x
    .m-t-xl
      %h3.m-b-xs= @event.amount
      %span.font-bold.no-margins
        Event amount
      .progress.m-t-xs.full.progress-small
        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@event.paid_percent}", :role => "progressbar", :style => "width: #{@event.paid_percent}%"}
      .row
        .col-xs-6
          %small.stats-label Balance
          %h4= @event.balance_to_pay.round(2)
        .col-xs-6
          %small.stats-label % Paid
          %h4= "#{@event.paid_percent.round(2)}%"
