.row
  = render 'admin/admin_bar'
.row
  = render template: 'admin/rates/index'
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          =link_to "#", class: "showhide" do
            %i{ class: "glyphicon glyphicon-chevron-up"}
        Users
      .panel-body
        %table.table#users_table
          %thead
            %tr
              %th Image
              %th=sort_link ["first_name", "last_name"], "Full name"
              %th=sort_link "email"
              %th=sort_link "birthday"
              %th=sort_link "rate_id", "Rate"
              %th=sort_link "role"
              %th.text-right Actions
          %tbody
            - @users.each do |user|
              %tr
                %td
                  - if user.image
                    = image_tag user.image.photo.url(:mini), class: "img-circle m-b m-t-md"
                  - else
                    = image_tag "mini/missing_avatar.png", class: "img-circle m-b m-t-md"
                %td=link_to user.full_name, admin_user_path(user)
                %td= user.email
                %td
                  = user.birthday.strftime('%d.%m.%Y') if user.birthday
                %td= user.rate.name
                %td= user.role
                %td.text-right.glyphicon-margin
                  =link_to '', admin_user_path(user), toggle: "tootip", title: "Show user info", class: "glyphicon glyphicon-eye-open"
                  =link_to '', edit_admin_user_path(user), toggle: "tootip", title: "Edit user info", class: "glyphicon glyphicon-pencil"
                  =link_to '', admin_user_path(user), method: :delete, toggle: "tootip", title: "Delete user", class: "glyphicon glyphicon-trash"