.row
  = render 'admin/admin_bar'
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          =link_to "#", class: "showhide" do
            %i{ class: "glyphicon glyphicon-chevron-up"}
        Users
      .panel-body
        %table.table
          %thead
            %tr
              %th Image
              %th=sort_link ["first_name", "last_name"], "Full name"
              %th=sort_link "email"
              %th=sort_link "birthday"
              %th.text-right Actions
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = image_tag user.image.photo.url(:mini), class: "img-circle m-b m-t-md" if user.image
                %td= user.full_name
                %td= user.email
                %td
                  = user.birthday.strftime('%d.%m.%Y') if user.birthday
                %td.text-right.glyphicon-margin
                  =link_to '', admin_user_path(user), class: "glyphicon glyphicon-eye-open"
                  =link_to '', edit_user_registration_path, class: "glyphicon glyphicon-pencil"
                  =link_to '', "#", class: "glyphicon glyphicon-trash"