.row
  .page-header
    %h3.dashboard User info
    =link_to "Back",:back, class: "btn pull-right right-button"
.row
  .col-lg-4
    .hpanel.hgreen
      .panel-body
        - if @user.image
          = image_tag @user.image.photo.url(:mini), class: "img-circle m-b m-t-md"
        %h3= @user.full_name
        %dl
          - if @user.birthday
            %dt Born on
            %dd= @user.birthday.strftime('%d.%m.%Y')
          %dt Email
          %dd= @user.email
          %dt Money rate
          %dd= @user.money_rate
          - if @user.phone
            %dt Phone
            %dd= @user.phone
          %dt Last sign in
          %dd= @user.last_sign_in_at.strftime("%d.%m.%Y at %T")
  - if @user.events.unpaid.any?
    .col-lg-6
      .hpanel
        .panel-heading
          .panel-tools
            =link_to "#", class: "showhide" do
              %i{ class: "glyphicon glyphicon-chevron-up"}
          Unpaid events
        .panel-body
          = render 'table', events: @unpaid_events, user: @user
        .panel-footer.right-align
          =link_to 'View all unpaid events', admin_events_path(user_id: @user.id), class: "btn"
  - if @user.created_events.any?
    .col-lg-6
      .hpanel
        .panel-heading
          .panel-tools
            =link_to "#", class: "showhide" do
              %i{ class: "glyphicon glyphicon-chevron-up"}
          Events created by #{@user.full_name}
        .panel-body
          = render 'table', events: @created_events, user: nil
        .panel-footer.right-align
          =link_to 'View all created events', admin_events_path(creator_id: @user.id), class: "btn"
