!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RubyRoidFinance
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css"
    = javascript_include_tag 'application'
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"
    = javascript_include_tag 'analytic.js'
    = csrf_meta_tags
  %body{ style: "background: #f1f3f6;" }
    = render 'layouts/header'
    .container
      .row
        #flash.col-lg-12
          = flash_message
      #modals-container
      = yield
