.row
  .col-lg-12
    .page-header
      %h2 Edit #{resource.first_name.to_s.humanize} #{resource.last_name.to_s.humanize}
.row
  .col-xs-6.col-md-3
    - if resource.image
      = image_tag resource.image.photo.url(:thumb), class: "thumbnail"
    %h4 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
    .container
      .form.form-group
        .form-inputs.col-md-6.col-md-offset-3.well
          = f.input :first_name, autofocus: true, :placeholder => "First name"
          = f.input :last_name, :placeholder => "Last name"
          = f.simple_fields_for :image, resource.image || resource.build_image  do |ff|
            = ff.input :photo, as: :file
          = f.input :birthday, as: :date
          = f.input :phone, :placeholder => "Phone number"
          = f.input :email, required: true, autofocus: true
          = f.input :money_rate, as: :select, collection: User::USER_RATES, include_blank: false
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
          = f.input :password_confirmation, required: false
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
          = f.button :submit, "Update", class: "btn-primary"
          .pull-right
            =link_to 'Back', :back, class: "btn btn-default"
            